.mainHeader {
    font-family: roboto;
    font-size: 120px;
    line-height: 150px;
    letter-spacing: 5px;
    grid-area: n;
    text-align: center;    
}

.header {
    grid-area: h;
    background: #007965;
    font-family: roboto;
    color: #d99766;
    display:grid;
    grid-template-areas: "n b";
    grid-template-columns: 9fr 1fr;
}

.authBlock {
    float: right;
    margin:10px 20px;
    width:100px;
    height: 120px;
    text-align: center;
    grid-area: b;
}

.authBlock a {
    color: #d99766;
}
.authBlock a:hover{
    color:gray;
}

.picture {
    width: 60px;
    margin:8px 0 8px 0;
    border-radius: 30px;
}

/* .header img{
 width: 1400px;
 height: 225px;
 border-radius: 70px;
 }*/