.formControl.error textarea,
.formControl.error input {
    border: solid 1.5px darkred;
    border-radius: 2px;
}
.formControl.error span {
    color: #950d0d;
    margin-left: 20px;
}
.errorFull{
    color: pink;
    border: plum solid 2px;
}
.preloaderSpin{
text-align: center;
max-height: 1920px;
min-height: 700px;
line-height: 900px;
background-color: rgba(218, 251, 255, 0.507);
}